.platos-tipicos-presentation {
  position: relative;
  background-image: url(/images/bg-platos-tipicos.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  padding-top: 75px;
  padding-bottom: 50px;
  color: #fff;
  outline: none;
  word-wrap: break-word;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media (min-width: 1000px) {
    & {
      height: 100vh;
      padding-top: 50px;
    }
  }

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
  }

  div {
    z-index: 3;

    h1 {
      font-size: 27px;
    }
  }

  .social-media {
    position: absolute;
    bottom: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    .social-media-icon {
      font-size: 20px;
      text-decoration: none;
      color: #fff;
      text-align: center;

      &:nth-child(3) {
        margin: 0 15px;
      }
    }

    @media (min-width: 1000px) {
      & {
        left: 0;
        bottom: 150px;
        width: 25%;

        div {
          width: 100%;
          padding: 1.05px;
          margin-right: 7px;
          background-color: #fff;
        }

        .social-media-icon {
          font-size: 25px;
          width: 100px;

          &:nth-child(3) {
            margin: 0 -15px;
          }
        }
      }
    }
  }

  @media (min-width: 1000px) {
    & {
      div {
        h1 {
          font-size: 65px;
        }
      }
    }
  }
}
