.footer-munay-mikhuy-anka {
  background-color: #503106;
  padding: 20px 0;
  font-size: 13px;

  .footer-content-style {
    text-align: center;
    margin: auto;

    p {
      margin: 0;
      color: #fff;

      a {
        font-weight: 600;
      }
    }
  }
  @media (min-width: 1000px) {
    & {
      padding-top: 40px;
      padding-bottom: 40px;
      font-size: 15px;
    }
  }
}
