.typical-dishes {
  margin-top: 45px;
  margin-bottom: 90px;

  .section-title {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;

    h1 {
      font-size: 29px;
      margin: 0;
      font-weight: 900;
    }
  }

  .description-section {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;

    p {
      margin: 0;
    }
  }

  .typical-dishes-grid {
    .photo-typical-dish {
      max-width: 100%;
      width: 100%;
      border-radius: 13px;
      overflow: hidden;
      box-shadow: rgb(0 0 0 / 20%) 0px 5px 25px;

      img {
        width: 100%;
        display: block;
      }
    }

    .typical-dish {
      margin-top: 50px;

      &:first-child {
        margin-top: 0;
      }

      .product-typical-dish-rating {
        margin-top: 15px;

        h1 {
          margin: 0;
          font-size: 25px;
          font-weight: 800;
        }

        .link-view-more {
          margin-top: 8px;
          display: inline-block;
          background: #503106;
          padding: 8px 13px;
          border-radius: 999px;
          color: #fff;
          text-decoration: none;
          font-size: 11px;
          transition: all 0.3s ease-in-out;

          &:hover {
            text-decoration: underline;
          }

          span {
            margin-left: 3px;
            transition: all 0.3s ease;
          }
          &:hover span {
            margin-left: 7px;
          }
        }
      }
    }
  }

  @media (min-width: 600px) {
    & {
      margin-top: 58px;

      .section-title {
        margin-top: 30px;
        margin-bottom: 30px;

        h1 {
          font-size: 40px;
        }
      }

      .description-section {
        text-align: left;
        font-size: 30px;
      }

      .typical-dishes-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        align-items: start;
        grid-gap: 80px;
        gap: 55px;

        .typical-dish {
          margin-top: 0;

          div {
            .link-view-more {
              padding: 10px 13px;
            }
          }
          div:first-child {
            margin-top: 40px;
          }
        }
      }
    }
  }
}
