@mixin main-star-rating {
  margin-top: 3px;
  display: flex;
}
@mixin content-star-icon {
  margin: 0;
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 0;
}
@mixin content-text-valoration {
  margin-right: 5px;
  font-weight: normal;
  font-style: italic;
}
@mixin style-star-icon {
  color: #ffba0d;
  opacity: 0.4;
}

.chairo-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 6) {
        opacity: 1;
      }
    }
  }
}

.pesque-de-quinua-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 6) {
        opacity: 1;
      }
    }
  }
}

.trucha-frita-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 6) {
        opacity: 1;
      }
    }
  }
}

.chicharron-de-alpaca-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 6) {
        opacity: 1;
      }
    }
  }
}

.tostado-de-trigo-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.torta-de-quinua-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.togto-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 4) {
        opacity: 1;
      }
    }
  }
}

.thimpo-de-trucha-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.thimpo-de-carachi-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.tarwi-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 4) {
        opacity: 1;
      }
    }
  }
}

.sopa-de-quinua-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.soltero-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.pejerrey-frito-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.mazamorra-de-quinua-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.quispiña-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.kankacho-ayavireño-star-rating {
  @include main-star-rating;

  p {
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 0;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.ispi-frito-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.huatia-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.chicharron-de-chancho-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 4) {
        opacity: 1;
      }
    }
  }
}

.chupe-de-quinua-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.sudado-de-trucha-star-rating {
  @include main-star-rating;

  p {
    @include content-star-icon;

    span:first-child {
      @include content-text-valoration;
    }
    .star-icon {
      @include style-star-icon;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}
