.chairo-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 6) {
        opacity: 1;
      }
    }
  }
}

.pesque-de-quinua-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 6) {
        opacity: 1;
      }
    }
  }
}

.trucha-frita-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 6) {
        opacity: 1;
      }
    }
  }
}

.chicharron-de-alpaca-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 6) {
        opacity: 1;
      }
    }
  }
}

.tostado-de-trigo-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.torta-de-quinua-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.togto-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.thimpo-de-trucha-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.thimpo-de-carachi-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.tarwi-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.sopa-de-quinua-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 6) {
        opacity: 1;
      }
    }
  }
}

.soltero-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.pejerrey-frito-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.mazamorra-de-quinua-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.quispiña-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.kankacho-ayavireño-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.jugo-de-quinua-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 4) {
        opacity: 1;
      }
    }
  }
}

.ispi-frito-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.huatia-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.chicharron-de-chancho-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 4) {
        opacity: 1;
      }
    }
  }
}

.agua-de-cebada-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 4) {
        opacity: 1;
      }
    }
  }
}

.chupe-de-quinua-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}

.sudado-de-trucha-star-rating {
  margin-top: 3px;
  margin-bottom: 13px;
  display: flex;

  p {
    margin: 0;
    font-size: 13px;

    span:first-child {
      margin-right: 5px;
      font-weight: normal;
      font-style: italic;
    }
    .star-icon {
      color: #ffba0d;
      opacity: 0.4;

      &:nth-child(-n + 5) {
        opacity: 1;
      }
    }
  }
}
