.home-presentation {
  position: relative;
  background-image: url(/images/puno-uros-image.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  padding-top: 60px;
  padding-bottom: 50px;
  color: #fff;
  outline: none;
  word-wrap: break-word;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media (min-width: 1000px) {
    & {
      height: 100vh;
      padding-top: 50px;
    }
  }

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .text-presentation {
    text-align: center;
    z-index: 3;

    h1 {
      margin: 0;
      font-size: 50px;

      @media (min-width: 1000px) {
        & {
          font-size: 100px;
        }
      }
    }
    p {
      margin: 0;
      margin-top: -10px;
      font-size: 15px;

      @media (min-width: 1000px) {
        & {
          margin-top: -20px;
          font-size: 31px;
        }
      }
    }
  }

  .social-media {
    position: absolute;
    bottom: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    .social-media-icon {
      font-size: 20px;
      text-decoration: none;
      color: #fff;
      text-align: center;

      &:nth-child(3) {
        margin: 0 15px;
      }
    }

    @media (min-width: 1000px) {
      & {
        left: 0;
        bottom: 150px;
        width: 25%;

        div {
          width: 100%;
          padding: 1.05px;
          margin-right: 7px;
          background-color: #fff;
        }

        .social-media-icon {
          font-size: 25px;
          width: 100px;

          &:nth-child(3) {
            margin: 0 -15px;
          }
        }
      }
    }
  }
}

.logo-and-restaurant-description {
  margin-top: 50px;

  .logo-on-box {
    width: 100%;
    max-width: 100%;
    border-radius: 13px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 25px;

    img {
      width: 100%;
      display: block;
    }
  }

  .description {
    margin-top: 15px;

    h1 {
      margin: 0;
      font-size: 30px;
      font-weight: 800;
    }
    p {
      margin: 0;
      margin-top: 10px;
      margin-bottom: 15px;
      font-size: 15px;
      text-align: justify;

      @supports ((-webkit-hyphens: auto) or (hyphens: auto)) {
        & {
          text-align: justify;
          -webkit-hyphens: auto;
          hyphens: auto;
        }
      }
    }
    .view-typical-dishes {
      background: #503106;
      padding: 8px 13px;
      border-radius: 999px;
      color: #fff;
      text-decoration: none;
      font-size: 11px;
      transition: all 0.3s ease-in-out;

      &:hover {
        text-decoration: underline;
      }

      span {
        margin-left: 3px;
        transition: all 0.3s ease;
      }
      &:hover span {
        margin-left: 7px;
      }
    }

    .place-of-order-fulfillment {
      margin-top: 35px;
      display: flex;

      a {
        position: relative;
        padding: 10px 15px 10px 15px;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.1);
        font-size: 14px;
        color: #4d4d44;
        font-weight: 700;
        transition: 0.3s ease-in-out;

        &:hover {
          background: #4d4d44;
          color: #ffff;
        }

        &::before {
          position: absolute;
          width: 102%;
          height: 100%;
          padding: 22px 0;
          content: " ";
          top: -3px;
          left: -3px;
          background: rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          z-index: -9;
        }

        span {
          margin-right: 10px;
        }
      }
    }
  }

  .container-responsive {
    margin: auto;
    max-width: 80rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 1000px) {
    & {
      margin-top: 90px;

      .container-responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;

        .logo-on-box {
          width: 30%;
        }
        .description {
          width: 70%;
          margin-top: 0;
        }
      }

      .description {
        h1 {
          font-size: 45px;
        }
        p {
          font-size: 20px;
          margin-bottom: 20px;
        }

        .view-typical-dishes {
          font-size: 15px;
        }
      }
    }
  }
}

.dishes-description {
  margin-top: 50px;

  .dish-description {
    margin-top: 50px;

    &:first-child {
      margin-top: 0;
    }
  }

  .photo-typical-dish {
    max-width: 100%;
    width: 100%;
    border-radius: 13px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 25px;

    img {
      width: 100%;
      display: block;
    }
  }

  div {
    margin-top: 15px;

    h1 {
      margin: 0;
      font-size: 25px;
      font-weight: 800;
    }
    p {
      margin: 0;
      margin-top: 10px;
      font-size: 15px;
      text-align: justify;

      @supports ((-webkit-hyphens: auto) or (hyphens: auto)) {
        & {
          text-align: justify;
          -webkit-hyphens: auto;
          hyphens: auto;
        }
      }
    }
  }

  .container-responsive {
    margin: auto;
    max-width: 80rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 100px) {
    & {
      margin-top: 90px;

      .container-responsive {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        align-items: start;
        gap: 80px;
      }

      .dish-description {
        margin-top: 0;
      }

      div {
        margin-top: 20px;
        p {
          font-size: 18px;
          margin-top: 15px;
          line-height: 1.4;
        }
      }
    }
  }
}

.most-important-dishes {
  margin-top: 20px;

  .section-title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 16px;

    h1 {
      margin: 0;
      font-weight: 900;
      line-height: 1;
    }
  }

  .grid-of-featured-dish {
    .photo-typical-dish {
      max-width: 100%;
      width: 100%;
      border-radius: 13px;
      overflow: hidden;
      box-shadow: rgb(0 0 0 / 20%) 0px 5px 25px;

      img {
        width: 100%;
        display: block;
      }
    }

    .featured-dish {
      margin-top: 50px;

      &:first-child {
        margin-top: 0;
      }

      .product-typical-dish-rating {
        margin-top: 15px;

        h1 {
          margin: 0;
          font-size: 25px;
          font-weight: 800;
        }

        .link-view-more {
          background: #503106;
          padding: 8px 13px;
          border-radius: 999px;
          color: #fff;
          text-decoration: none;
          font-size: 11px;
          transition: all 0.3s ease-in-out;

          &:hover {
            text-decoration: underline;
          }

          span {
            margin-left: 3px;
            transition: all 0.3s ease;
          }
          &:hover span {
            margin-left: 7px;
          }
        }
      }
    }
  }

  .container-responsive {
    margin: auto;
    max-width: 80rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 1000px) {
    & {
      margin-top: 100px;

      .section-title {
        font-size: 25px;
      }

      .grid-of-featured-dish {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        align-items: start;
        grid-gap: 80px;
        gap: 55px;

        .featured-dish {
          margin-top: 0;

          div {
            .link-view-more {
              padding: 10px 13px;
            }
          }
          div:first-child {
            margin-top: 40px;
          }

          .photo-typical-dish {
            border-radius: 13px;
            overflow: hidden;
          }
        }
      }
    }
  }
}

.restaurant-phrase {
  position: relative;
  background-image: url(/images/vista-puno.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  margin-top: 75px;
  padding-top: 70px;
  padding-bottom: 70px;
  color: #fff;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .quote {
    font-size: 15px;
    z-index: 3;

    span {
      font-family: "Lily Script One", cursive;
      transform: scale(1, -1) scale(-1, 1);
      font-size: 80px;
      display: block;
      text-align: center;
      margin-top: -50px;
    }
    p {
      margin: 0;
      margin-top: 10px;
      font-style: italic;
      font-weight: 700;
    }
  }

  @media (min-width: 1000px) {
    & {
      margin-top: 130px;
      margin-bottom: 100px;
      height: 400px;

      .quote {
        margin: 0;
        font-size: 22px;

        span {
          margin-top: -70px;
        }
      }
    }
  }
}

.famous-quotes {
  margin-bottom: 30px;

  .quote {
    font-size: 15px;
    text-align: center;

    span {
      font-family: "Lily Script One", cursive;
      transform: scale(1, -1) scale(-1, 1);
      font-size: 80px;
      display: block;
      text-align: center;
      margin-top: -30px;
    }

    p {
      margin: 0;
      margin-top: 10px;
      font-style: italic;
      font-weight: 700;
    }
  }

  .container-responsive {
    margin: auto;
    max-width: 80rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 1000px) {
    & {
      margin-bottom: 100px;

      .container-responsive {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
        align-items: start;
        grid-gap: 80px;
        gap: 40px;

        .quote {
          margin: 0;
          font-size: 19px;

          span {
            margin-top: -65px;
          }
        }
      }
    }
  }
}

.mini-gallery {
  display: flex;

  div {
    position: relative;
    width: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
