.navbar-sticky-desktop {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 50px 70px 15px 70px;
  background-color: transparent;
  z-index: 19;
  color: #fff;
  transition: all 0.3s ease;

  &.navbar-sticky-active {
    padding: 10px 70px 10px 70px;
    position: fixed;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    & .logo-munay-mikhuy-anka {
      color: #3b3d44 !important;
    }
    & .container-menu-desk .menu-link .navTabLink {
      color: #3b3d44;
    }
    & .container-menu-desk .menu-link .navTabLink.activeNavTabLink::after {
      background: #3b3d44;
    }
  }

  .container-responsive {
    max-width: 80rem;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-munay-mikhuy-anka {
      text-decoration: none;
      color: #fff;
      transition: all 0.1s;

      h1 {
        margin: 0;
        font-weight: 800;
      }
      p {
        font-size: 16.4px;
        margin: 0;
        margin-top: -5px;
      }
    }

    .container-menu-desk {
      display: flex;
      padding: 0;
      margin: 0;
      margin-bottom: 5px;

      li {
        list-style: none;
        margin-left: 25px;

        &:first-child {
          margin-left: 0;
        }

        .navTabLink {
          position: relative;
          color: #fff;
          font-weight: 600;
          text-decoration: none;
          transition: all 0.1s;

          &.activeNavTabLink::after {
            content: " ";
            display: block;
            position: absolute;
            width: 100%;
            height: 4px;
            margin-top: 2px;
            background: #fff;
            border-radius: 50px;
            transition: all 0.1s;
          }
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .navbar-sticky-desktop {
    display: inline;
  }
}
